

.about-page {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Giaza Stencil', serif; 
  text-align: center;
}

.about-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Giaza Stencil', serif;
}

.about-page p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: #4a4a4a;
  font-family: 'Giaza Stencil', serif;
}
.coffee-about {
  width: 400px;  
  height: auto;
  margin: 0 30px;
  transform: translate(100%, -100x); 

}