.contact-page {
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Giaza Stencil', serif; 
  }
  
  .contact-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Giaza Stencil', serif;
  }
  
  .contact-page p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #4a4a4a;
    font-family: 'Giaza Stencil', serif;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form label {
    font-size: 1.1rem;
    color: #4a4a4a;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
  }
  
  .contact-button {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #8f703a;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Giaza Stencil', serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #8f703a;
  }
  
  .contact-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .contact-icon {
    width: 300px;
    height: auto;
  }
  