.navbar {
  display: flex; 
  position: fixed;
  justify-content: space-between;  
  top: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  align-items: center;
  background-color: #d8e1c0;
  padding: 10px 30px;
  border-radius: 50px;
  max-width: 90%;
  height: 70px;
  z-index: 1000;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left,
.navbar-right 
 {
  display: flex;
  align-items: center;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 70px; 
}
.navbar-links li a {
  text-decoration: none;
  color: #4a4a4a;
  font-family: 'Giaza Stencil', serif;
  font-size: 1.5rem;
  text-transform: bold;
  font-weight: lowercase;
}

.bean-icon {
  width: 300px;  
  height: auto;
  margin: 0 30px;
}

.navbar-icons {
  display: flex;
  gap: 20px;  
}
.navbar-icons a {
  font-size: 1.5rem;
  color: #4a4a4a;
  margin-left: 20px;  
}

.navbar-icons a:hover {
  color: #2e2e2e;
}

.navbar-links li:last-child {
  margin-right: 20px;  
}
