.about-box {
  background-color: #d7d1b6;
  padding: 0px  40px 40px 40px; 
  border-radius: 10px;
  max-width: 500px;
  height: 450px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform: translate(-60%, -500x); 
  opacity: 0;
  animation: slide-in 1s ease-out forwards; 
}

@keyframes slide-in {
  from {
      transform: translate(-250%, -500px);
      opacity: 0;
  }
  to {
      transform: translate(-60%, -500px);
      opacity: 1;
  }
}

.about-box h2 {
  font-family: 'Giaza Stencil', serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
  transform: translate(0,300%);

}

.about-box p {
  font-family: 'Giaza Stencil', serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4a4a4a;
  transform: translate(0,150%);
  padding: -30px 30px -30px 30px;
}

.read-more-button {
  background-color: #6d4c41;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: translate(0,450%);

}

.read-more-button:hover {
  background-color: #5a3a33;
}
